.lunch_menu{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 10%;
}

.lunch_menu td, #lunch_menu th {
  border: 1px solid #ddd;
  padding: 8px;
}
/*us:ofiD FhwFB
.lunch_menu tr:nth-child(even){background-color: #f2f2f2;}
.lunch_menu tr:hover {background-color: #ddd;}
*/
.lunch_menu th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #091748;
  color: white;
}

.lmenu td{
  text-align: left;
  border: 1px solid #ddd;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  overflow-x: visible;
}
.lmenu {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.lmenu td, .lmenu th {
  border: 1px solid #ddd;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 10%;
}
/*
.lmenu tr:nth-child(even){background-color: #f2f2f2;}
.lmenu tr:hover {background-color: #ddd;}
*/
.lmenu th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #091748;
  color: white;
}

.button{
  padding: 2.5%;
  outline: none;
}

.screaming{
  background-size: 90%;
  background-position-x: center;
  background-position-y: center;
  background-blend-mode: multiply;
}
.button:hover mark{
  background:#0d3f82;
  border-color: transparent;
  color:white;
}

.button:hover{
  background:#0d3f82;
  border-color: transparent;
  color:white;
}

.ntitle{
  text-align: center;
  font-size: 3rem;
  margin: auto;
  margin-bottom: 0px;
}
.subtitle{
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 0px;
}

mark{
background-color: #f3f1ebba
}
#sandwich{
    background-image: url(../images/sandwich_mega_compressed.jpg);
    background-size: 90%;
    background-position-x: center;
    background-position-y: center;
}
.headerstyle{
  position: fixed;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 50%;
  top:  55px;
  background: antiquewhite !important;
}

@media (max-width: 768px) {
    .headerstyle {
        position: absolute !important;
    }
}

@media only screen and (max-width: 767px) {
  .navbar-toggler {
    line-height: 5;
  }
}

.ree{
  position: absolute;
  width: 100%;
  top: calc(50% + 47px + 1%);
  padding-top: 2.5%;
  background: white;
}
.footerfix{
  position: absolute;
  display: flex;
  width: 100%;
  top: 55px;
  flex-direction: column;
  height: calc(100% - 55px);
}
#form{
  margin: auto;
}
.menu{
  display: flex;
    justify-content: stretch;

    flex-direction: column;

}
.menu > div {

  width: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
